[submodule "binutils"]
	path = binutils
	url = https://github.com/bminor/binutils-gdb.git
	branch = binutils-2_43-branch
[submodule "gcc"]
	path = gcc
	url = https://github.com/gcc-mirror/gcc.git
	branch = releases/gcc-14
[submodule "glibc"]
	path = glibc
	url = https://github.com/bminor/glibc.git
[submodule "dejagnu"]
	path = dejagnu
	url = https://git.savannah.gnu.org/git/dejagnu.git
	branch = master
[submodule "newlib"]
	path = newlib
	url = https://github.com/mirror/newlib-cygwin.git
	branch = master
[submodule "gdb"]
	path = gdb
	url = https://github.com/bminor/binutils-gdb.git
	branch = gdb-15-branch
[submodule "qemu"]
	path = qemu
	url = https://github.com/qemu/qemu.git
[submodule "musl"]
	path = musl
	url = https://github.com/bminor/musl.git
	branch = master
[submodule "spike"]
	path = spike
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
	branch = master
[submodule "pk"]
	path = pk
	url = https://github.com/riscv-software-src/riscv-pk.git
	branch = master
[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm/llvm-project.git
	branch = release/18.x
[submodule "uclibc-ng"]
	path = uclibc-ng
	url = https://github.com/kraj/uclibc-ng.git
